@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

li {
  background-color: rgba(var(--background-start-rgb), 0.9);
  transition: background-color 0.2s ease-out;
}

li:hover {
  background-color: rgba(var(--background-start-rgb), 1);
}

li div span:first-child {
  display: inline-block;
  width: 80%;
  color: rgb(var(--foreground-rgb));
}

li div span:last-child {
  display: inline-block;
  width: 15%;
  text-align: right;
  color: rgba(var(--foreground-rgb), 0.7);
}
